# Dependencies
node_modules/

# Production builds
build/
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.tar

